* {
    /* border: 2px solid red; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* common style */
body {
    background: #F3F1FF;
}

.section-heading {
    margin: 15px 0;
    color: rgba(0, 13, 255, 0.867);
}

.container {
    background-color: white;
    margin: 30px auto;
    padding: 30px;
    width: 900px;
    border-radius: 5px;
}

header {
    background-color: rgb(21, 0, 255);
    width: 100%;
}

/* nabar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 0 auto;
    padding: 10px 0;
}

.logo img {
    width: 50px;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
}

.nav-menu ul li {
    margin-right: 15px;
}

.nav-menu ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;

}

/*------------------
Top Player secton style
--------------------- */

.top-player {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-bottom: 20px;
}

.player {
    display: flex;
    align-items: center;
    gap: 15px;
}

.player-image {
    width: 75px;
}

/* --------------------
-----blog styles------
-------------------- */
.blog-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.blog-image {
    height: 110px;
}

.blog-name {
    margin-bottom: 10px;
}

.author-name {
    color: gray;
}

.author-name a {
    text-decoration: none;
    font-size: 18px;
}

/* latest course style */
.course-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.course-banner img {
    width: 224px;
    height: 104px;
}

.course-name {
    height: 80px;

}

.course-instractor {
    font-size: 20px;
    margin-top: 5px;
}

.course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    color: gold;
}

.emtry {
    color: gray;
}

.course-time {
    padding: 5px 8px;
    background-color: rgba(255, 0, 0, 0.358);
    border-radius: 10px;
}

@media screen and (max-width:576px) {


    header {
        background-color: rgb(255, 94, 0);
        width: 100%;
    }

    /* nabar styles */
    .navbar {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 15px 35px;
        width: 100%;


    }

    .profile {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: column-reverse;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;

    }

    .nav-menu ul li {
        margin: 20px;
    }

    .nav-menu ul li a {
        color: rgb(0, 0, 0);
        background-color: white;
        padding: 10px 45px;
        border-radius: 8px;
    }

    .container {
        background-color: rgb(170, 148, 148);
        margin: 30px auto;
        padding: 15px 25px;
        width: 100%;
        border-radius: 5px;
        text-align: center;
    }

    .top-player,
    .blog-container {

        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 15px;

    }

    .course-container{
        grid-template-columns: repeat(1 , 1fr);
    }
    .course-banner img{
        width: 100%;
        height: 200px;
    }
    .course-name{
        height: 50px;
    }
    .course-info{
        flex-direction: column-reverse;
       align-items: flex-start;
    }
}